<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
    <div class="wrapper">
      
      <div class="contents1">
        <h2>
          <%= link_to tweets_path do %>
            <div class="home">
              <span>🏠　ホーム</span>
            </div>
          <% end %>
          <li>＃　話題を検索</li>
          <li>🔔　通知</li>
          <li>📧　メッセージ</li>
          <li>📖　ブックマーク</li>
          <li>🔲　リスト</li>
          <li>👤　プロフィール</li>
          <li>・　もっと見る</li>
          <%= link_to new_tweet_path do %>
            <div class="bottom">
              <span>ツイートする</span>
            </div>
          <% end %>
        </h2>
      </div>
      
      <div class="contents2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
